.btn {
    margin-right: 5px;
}
.markAsDone{
    text-decoration: line-through;
    color: #777;
}
.tableActions {
    width: 105px;
  }
  .todoForm {
    padding-bottom: 60px;
  }
  .finalizado{
      background-color: #f4f2f2
  }
  .pendente{
      background-color: #E6F4FE;
  }